@font-face {
    font-family: "tisco";
    src: url('../font/tisco-regular.woff2') format('woff2'),
         url('../font/tisco-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "tisco";
    src: url('../font/tisco-bold.woff2') format('woff2'),
         url('../font/tisco-bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}