$gray-100: #F9F9F9;
$gray-200: #f7f7f9;
$gray-300: #eceeef;
$gray-400: #ced4da;
$gray-500: #aaa;
$gray-600: #888;
$gray-700: #5a5a5a;
$gray-800: #343a40;
$gray-900: #212529;
$black: #000;
$blue: #1369B0;
$indigo: #3F00FF;
$purple: #8D57F7;
$pink: rgb(250, 56, 164);
$orange: rgb(253, 158, 20);
$yellow: #FBBE28;
$green: rgb(32, 203, 179);
$cyan: #229DD5;
$warning: $yellow;
$light: $gray-100;
$yiq-contrasted-threshold: 250;
$body-color: $gray-600;
$border-radius: .4rem;
$border-radius-lg: .6rem;
$border-radius-sm: .3rem;
$headings-font-family: "tisco", -apple-system, system-ui, BlinkMacSystemFont, "Helvetica Neue", Arial, sans-serif;
$headings-color: $gray-700;
$table-border-color: rgba(0,0,0,0.05);
$white: #fff;
$dropdown-link-hover-color: $white;
$secondary: $cyan;
$dropdown-link-hover-bg: $secondary;
$navbar-dark-color: rgba($white,.6);
$navbar-dark-hover-color: $white;
$navbar-light-color: rgba($black,.3);
$navbar-light-hover-color: $gray-700;
$navbar-light-active-color: $gray-700;
$navbar-light-disabled-color: rgba($black,.1);
$pagination-color: $white;
$primary: $blue;
$pagination-bg: $primary;
$pagination-border-color: $primary;
$pagination-hover-color: $white;
$pagination-hover-bg: $secondary;
$pagination-hover-border-color: $pagination-hover-bg;
$pagination-active-bg: $secondary;
$pagination-active-border-color: $pagination-active-bg;
$pagination-disabled-color: $white;
$pagination-disabled-bg: #CCE8E0;
$pagination-disabled-border-color: $pagination-disabled-bg;
$breadcrumb-bg: $primary;
$breadcrumb-divider-color: $white;
$breadcrumb-active-color: $breadcrumb-divider-color;
$enable-rounded: false;
$red: #C20E1A;
$font-size-base: 1rem;
$close-font-size: $font-size-base * 2.5;
$font-weight-normal: 400;
$close-font-weight: $font-weight-normal;
$close-color: $gray-800;
$carousel-control-icon-width: 41px;
$carousel-indicator-height: 1px;
$carousel-indicator-spacer: 1px;
$teal: #00839d;
$info: $teal;
$success: $green;